:root {
  --green: #24d024;
  --yellow: #fff952;
  --pink: #f53896;
  --red: #fb4545;
  --blue: #0a53be;
  --violet: #b700ff;
  --Pomme: #00ff00;
}
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

body {
  margin: 0px;
  background: rgb(192, 171, 171);
}
h1 {
  margin-top: 20px;
  font-family: "cookie", cursive;
  font-size: 80px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
}
ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
ul li {
  position: relative;
  width: 12px;

  height: 28px;
  background: white;
  border-radius: 50%;

  list-style-type: none;

  margin-right: 42px;
}
ul li:before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 3px;

  background-color: black;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
ul li:not(:last-child)::after {
  content: "";

  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 19px;
  border-bottom: solid black 2px;
  border-radius: 30px;
}

.green {
  background-color: var(--green);
  animation: lightningGreen 0.8s infinite;
}
.yellow {
  background-color: var(--yellow);
  animation: lightningYellow 0.8s infinite;
}
.pink {
  background-color: var(--pink);
  animation: lightningPink 0.8s infinite;
}
.red {
  background-color: var(--red);
  animation: lightningRed 1s infinite;
}
.blue {
  background-color: var(--blue);
  animation: lightningBlue 0.8s infinite;
}
.violet {
  background-color: var(--violet);
  animation: lightningViolet 0.3s infinite;
}
.pomme {
  background-color: var(--Pomme);
  animation: lightningPomme 0.3s infinite;
}
@keyframes lightningYellow {
  0% {
    box-shadow: 5px 10px 35px 10px var(--yellow);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px var(--yellow);
  }
}
@keyframes lightningPink {
  0% {
    box-shadow: 5px 10px 35px 10px var(--pink);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px (var(--pink));
  }
}
@keyframes lightningGreen {
  0% {
    box-shadow: 5px 10px 35px 10px var(--green);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px (var(--green));
  }
}
@keyframes lightningBlue {
  0% {
    box-shadow: 5px 10px 35px 10px var(--blue);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px var(--blue);
  }
}
@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px var(--red);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px var(--red);
  }
}
@keyframes lightningViolet {
  0% {
    box-shadow: 5px 10px 35px 10px var(--violet);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px var(--violet);
  }
}
@keyframes lightningPomme {
  0% {
    box-shadow: 5px 10px 35px 10px var(--Pomme);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px var(--Pomme);
  }
}
